<div class="panel panel-default">
    <div class="panel-heading">{{class.title}}</div>
    <div class="panel-body">
        {% if evaluations %}
        <div class="panel panel-default">

            {% for eval in evaluations%}
            <div class="panel-heading">{{eval.number_eval}} Parcial</div>
            <div class="panel-body">
                {% if files %}
                <div class="panel panel-default">
                    <div class="panel-heading">Files</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for file in files %}
                                {% if file.evaluation_id.evaluation_id == eval.evaluation_id %}
                                <li class="list-group-item"><a href="{{file.doc_file.url}}">{{file.doc_file.name}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
         </div>
        {% endif %}
    </div>
</div>