
{% for class in classes %}
<div class="panel panel-default">
    <div class="panel-heading">
        {{class.title}}
    </div>
    <div class="panel-body">
        <div class="panel-heading">
            1st Test
        </div>
            <div class="panel-body">
                <h3>Forum</h3>
                <div class="container-fluid">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
                <h3>Files</h3>
                <div class="container-fluid">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
    </div>
</div>
{% endfor %}